# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
ENV/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# PyTorch / model checkpoints
*.pt
*.pth
*.ckpt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Local data 
data/
